---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro';
import Head from '../components/Head.astro';
import IndexContent from '../components/IndexContent.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
	<div class="alert alert-danger alert-dismissible fade show my-2 mx-1 text-center" role="alert">
		<strong>Welcome!</strong> Thank you for visiting and contact us for any reason 😁
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<main class="container-fluid">
		<Navbar />

		<Head />
		<hr class="border opacity-25 rounded border-3 mx-auto mb-5" style="width: 75%;">
		<div>
			<IndexContent />
			<hr class="border opacity-25 rounded border-3 mx-auto mb-5" style="width: 75%;">
			<Footer />
	</main>

</Layout>