---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="Register">


  <main class="container-fluid mx-auto">

    <Navbar />

    <div class="form-signin w-100 mx-auto">
      <form class="mx-auto">
        <img class="mb-4 mx-auto" src="/signup.png" alt="" width="250" height="250">
        <h1 class="h3 mb-3 text-light text-center">Register</h1>

        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="John">
          <label for="floatingInput">First Name</label>
        </div>
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="Smith">
          <label for="floatingInput">Last Name</label>
        </div>
        <div class="form-floating mb-2">
          <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-2">
          <input type="password" class="form-control rounded" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-success w-100 py-2 mt-2 mb-5" type="submit">Create Account</button>
      </form>
    </div>
    <hr class="border opacity-25 rounded border-3 mx-auto mb-5" style="width: 75%;">
    <Footer />

  </main>

</Layout>

<style>
  html,
  body {
    height: 100%;
  }

  .form-signin {
    max-width: 330px;
    padding: 1rem;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
</style>