<footer class="footer footer-center items-center text-neutral-content w-5/6 mx-auto">
    <button class="link link-info">
        <a class="font-medium text-lg" href="https://github.com/DrakeAFK/wallet.io" target="_blank" rel="noopener noreferrer">
            View this project on GitHub
        </a>
    </button>
    <button class="link link-primary mb-10">
        <a class="font-medium text-lg" href="https://links.drakeafk.io" target="_blank" rel="noopener noreferrer">
            DrakeAFK © 2023
        </a>
    </button>
</footer>