<div class="hero min-h-screen" style="background-image: url(hero-img.png);">
    <div class="hero-overlay bg-opacity-80"></div>
    <div class="hero-content text-center text-neutral-content">
      <div class="max-w-md">
        <h1 class="mb-5 text-5xl font-bold">Wallet.io</h1>
        <p class="mb-5 text-lg font-bold">Take Control of Your Money</p>
        <a href="/welcome">
            <button class="btn btn-success font-medium text-neutral text-lg rounded-lg">Get Started</button>
        </a>
    </div>
    </div>
  </div>