<nav class="navbar navbar-expand-xxl font-monospace">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/money.png" alt="money.io" width="45" height="45"></a>
    <button class="navbar-toggler collapsed bg-light" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavAltMarkup" style="">
      <div class="navbar-nav">
        <a class="nav-link text-light fs-5" href="/signup"><strong>Register</strong></a>
        <a class="nav-link text-light fs-5" href="/pricing"><strong>Pricing</strong></a>
      </div>
    </div>
  </div>
</nav>