<div class="navbar bg-base-100 py-5">
    <div class="navbar-start">
        <div class="dropdown">
            <label tabindex="0" class="btn btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list"
                    viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </label>
            <ul tabindex="0"
                class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-success rounded-box w-52">
                <li><a class="text-xl" href="/welcome" rel="noopener noreferrer">Home</a></li>
                <li><a class="text-xl" href="/register" rel="noopener noreferrer">Register</a></li>
                <li><a class="text-xl" href="/pricing" rel="noopener noreferrer">Pricing</a></li>
            </ul>
        </div>
        <a href="/" class="btn btn-ghost normal-case text-xl">Wallet.io</a>
    </div>
</div>